@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&family=Work+Sans:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

:root {
  --heading: rgb(0 10 45);
  --para: #777;
  --para-tint: #e4e4e4;
  --white: #fff;
  --black: #212529;
  --helper: #8490ff;
  --overlay: #3e64ff;
  --helper-tint: #f3f4ff;
  --bg: rgb(249 249 255);
  --icons-bg: rgba(144, 172, 209, 0.2);
  --gradient: linear-gradient(0deg, rgb(132 144 255) 0%, rgb(98 189 252) 100%);
  --gradientSupport: -webkit-linear-gradient(
    0deg,
    rgb(132 144 255) 0%,
    rgb(98 189 252) 100%
  );
  --shadow: 0px 0px 20px 0px rgb(132 144 255 / 20%);
  --shadowSupport: 0px 20px 20px 0px rgb(132 144 255 / 30%);
}

html {
  font-size: 62.5%;
  /* scroll-behavior: smooth; */
  /* 1rem = 10px */
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

h1,h2,h3,h4 {
  font-family: "Poppins", sans-serif;
}

h1 {
  color: var(--heading);
  font-size: 6rem;
  font-weight: 600;
}

h3 {
  font-size: 1.8rem;
  font-weight: 400;
}

p {
  color: var(--para);
  line-height: 1.6;
  font-size: 1.7rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* ===========================================
Header Section Start
======================================= */

.header {
  padding: 0 4.8rem;
  height: 10rem;
  background-color: var(--bg);
  /* background: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom:#3e64ff;
  border-radius: 5%;
}

.header .logo {
  height: 12rem;
  width:12rem;
}

.navbar-lists {
  display: flex;
  gap: 4.8rem;
}

.navbar-link:link,
.navbar-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--black);
  transition: color 0.3s linear;
}

.navbar-link:hover,
.navbar-link:active {
  color: var(--helper);
}

.mobile-navbar-btn {
  display: none;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.mobile-nav-icon[name="close-outline"] {
  display: none;
}

/* ?sticky navbar  */
.sticky .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 1);
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: var(--shadow);
}

.sticky .section-hero {
  margin-top: 10rem;
}